#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 3.5em;
  will-change: filter;
  transition: filter 500ms;
}
.logo:hover {
  filter: drop-shadow(0 0 3em #fae8ac);
}

.card {
  padding: 2em;
}

.title {
  color: #2d4b62
}

.description {
  color: #6ef6f8
}

.read-the-docs {
  color: #3ca8bb;
}
